<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>TOPICS</title>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js'></script>
     <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
  <p>TOPICS</p>
  <table>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.id %></td>
    <td><%= topic.title %></td>
    <td><%= topic.done %></td>
    <td><%= topic.order_num %></td>
    <td><%= topic.created_at %></td>
  </tr>
  <% end%>
  </table>
  </body>

</html>